[Unit]
Description=Shtyl module for Wiren Board
After=network.target

[Service]
Type=simple
WorkingDirectory=/mnt/data/etc/wb-shtyl
ExecStart=/mnt/data/etc/wb-shtyl/venv/bin/python3 main.py
Restart=always
TimeoutSec=120

[Install]
WantedBy=multi-user.target