[Unit]
Description=Shtyl module for Wiren Board
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/wb-shtyl
ExecStart=/opt/wb-shtyl/venv/bin/python3 /opt/wb-shtyl/wb_shtyl/main.py
Restart=always
TimeoutSec=120

[Install]
WantedBy=multi-user.target